<div id="onepage-content" class="onepage-row onepage-scroll-x" ng-controller="ListsCtrl">
	<div class="relative-to-this" style="width: {{(lists.length*260 + 5)}}px;">
 		<div class="content-col list-of-cards" ng-repeat="currList in lists">
			<div class="relative-to-this" style="height: 100%;">
				<div class="content-col-header">
					<h3>{{currList.list.data.name}} [{{currList.list.id}}]</h3>
				</div>
				<div class="connectedSortable content-col-scrollable" ui-sortable="sortableOptions" ng-model="currList.list.cards">
					<div class="well well-sm" ng-repeat="currentCard in currList.list.cards">
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs" ng-click="archiveCard(currentCard, currList)">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</button>
						</div>
						{{currentCard.card.data.title}} [{{currentCard.card.id}}]
					</div>
					<div class="invisible" ng-show="currList.list.cards.length==0">&nbsp;</div>										
				</div>
				<form ng-submit="addCard(currList)">
					<div class="input-group content-col-footer">
						<input type="text" class="form-control" ng-model="currList.newCardTitle" placeholder="new card title">
	  					<span class="input-group-btn">
	    					<button class="btn btn-default" type="button">Add</button>
	  					</span>
					</div>
				</form>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>