<div id="onepage-content" class="onepage-row onepage-scroll-x">
	<div class="relative-to-this" ng-controller="ListsCtrl">
		<div class="content-col list-of-cards" style="float:left;" ng-repeat="currList in lists">
			<h3>{{currList.list.data.name}} [{{currList.list.id}}]</h3>
			<div class="connectedSortable" ui-sortable="sortableOptions" ng-model="currList.list.cards">
				<div class="well well-sm" ng-repeat="currentCard in currList.list.cards">
					<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs" ng-click="archiveCard(currentCard)">
							<span class="glyphicon glyphicon-remove-sign"></span>
						</button>
					</div>
					{{currentCard.card.data.title}} [{{currentCard.card.id}}]
				</div>										
			</div>
			<form ng-submit="addCard(currList)">
				<div class="panel panel-default">
					<div class="panel-heading">
						<input type="text" class="form-control" ng-model="currList.newCardTitle" placeholder="new card title">
					</div>
					<div class="panel-body">
						<button class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-plus-sign"></span> Add Card
						</button>
					</div>
				</div>										
			</form>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>